.title {
  margin: 50px 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 15%;
  height: 60px;
  justify-content: center;
  border-radius: 10px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
